data/input/2025/projections/20250506_DraftSharks.csv
.DS_Store
.idea/fantasy_football.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/material_theme_project_new.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
/logs
/data/draft_sims
/data/output
/data/output
